<%- partial('_partial/bg-cover') %>
<style>
    .resource-container {
        margin-top: -100px;
        margin-bottom: 30px;
    }

    .resource-container .tag-title {
        margin-bottom: 10px;
        color: #3C4858;
        font-size: 1.75rem;
        font-weight: 400;
    }
    .resource-container .tab-container a {
        text-decoration: underline;
    }
    .resource-content {
        margin-bottom: 30px;
    }

    .resource-container .tabs {
        margin-top: 20px;
    }
</style>

<main class="content">
    <div class="container resource-container">
        <div class="card">
            <div class="card-content">
                <div class="tag-title center-align">
                    <i class="fas fas fa-folder"></i>&nbsp;&nbsp;<%= __('resource') %>
                </div>
                <div class="resource-content"><%- page.content %></div>
            </div>
        </div>

        <div class="card">
            <div class="card-content">
                <div class="tag-title center-align">
                    <i class="fas fas fa-clock"></i>&nbsp;&nbsp;时间线 %>
                </div>
                <% if (site.data && site.data.resource) {
                    var resources = site.data.resource;
                    %>
                    <ul class="tabs z-depth-1">
                        <% for (var k in resources) {
                            var resource = resources[k];
                            var y = new Date().getFullYear() === +k;
                            var cls = y ? 'class=active' : '';
                        %>
                        <li class="tab"><a <%= cls %> href="#<%= k %>"><%= k %></a></li>
                    <% } %>
                    </ul>
                    <% for (var k in resources) {
                        var resource = resources[k];
                    %>
                    <div id="<%= k %>" class="tab-container col s12">
                        <% for (var k1 in resource) {
                            var resource1 = resource[k1];
                        %>
                            <h3><%= k %>-<%= k1 %></h3>
                            <ul class="browser-default">
                            <% for (var item of resource1) { %>
                            <li>
                                <a href="<%= item.link %>"><%= item.link %></a>
                                <span><%= item.desc %></span>
                                <% if (item.sign === 'important') { %>
                                    <%- github_emoji('fire') %>
                                <% } else if (item.sign === 'read') { %>
                                    <%- github_emoji('heavy_check_mark') %>
                                <% } else { %>
                                    <%- github_emoji('point_right') %>
                                <% } %>
                            </li>
                            <% } %>
                            </ul>
                        <% } %>
                    </div>
                    <% } %>
                <% } %>
            </div>
        </div>
    </div>
</main>

<script>
    $(function () {
        $('.resource-content ul').addClass('browser-default');
        $('.resource-container .tabs').tabs();
    });
    $('.tab a').on('click', function (e) {
        e.preventDefault();
    });
</script>


